
@{
    ViewBag.Title = "About";
}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>About Us</h2>
    </div>
    <div class="row-fluid">
        <div class="col-lg-3">
            <img src="~/assets/images/family.jpg" style="max-width:100%;max-height:100%"/>
        </div>
        <div class="col-lg-9">
            <p>
                Take Home Tutor is learning community founded by Terry and Samantha

                Jacobs. Terry combined his experience as a web developer with

                Samantha’s teaching expertise to create an online learning community

                complete with live tutoring and full courses created by certified teachers.

                Their goal is to minimize homework struggles and provide reinforcement of

                skills taught in school.
            </p>
            <p>
                The idea came about one evening when they faced the homework struggle

                with their third grade son. One evening he pulled out a math homework

                assignment that stumped his parents. That’s when the lightbulb went off

                and they realized a website that can answer homework questions would be

                beneficial in homes across the country, especially with the introduction of

                common core in the classroom.
            </p>
            <p>
                The community started out simply as homework help, but soon progressed

                to something much more. In past years the family has spent hundreds of

                dollars on summer enrichment courses for their son. The summer

                workbooks are boring and it’s difficult to engage your child in them when

                they want to utilize technology. So began the creation of the online class

                portal. This enables families to enroll in classes not only during summer

                but any point in the year that can act as enrichment or even tutoring for

                their child, without paying a fortune.
            </p>
            <p>
                Their overall hope and goal for this learning community is to make the lives

                of parents a little easier and help children excel in their education.
            </p>
        </div>
    </div>
</div>
