
@{
    ViewBag.Title = "How It Works";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>How It Works</h2>
            <br />
            <p>
                When someone finds take home tutor, usually their main focus is to find learning resources for themselves or their children.  If that's the case for you, you've come to the right place!
                This page will give you an idea of what to expect when finding and booking a tutor.  You have most likely already visited out home page and this is where you will begin finding a tutor.
                Notice the big blue button?  Let's learn together!  Click there!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <img src="~/assets/images/How-it-works/homepage.png" width="900"/>
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                Great!  Now you are on our tutor page.  Here you will see all of our teachers eager to tutor you or your child.  You can browse the list to find the perfect match for you or your child.  Once you've found them,
                click schedule a lesson to get in touch with that tutor.  They will then contact you to schedule an appointment that works for both of you.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <img src="~/assets/images/How-it-works/tutor_list.png" width="900" />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                Now all you need to do is fill in the information on the final screen so the tutor knows who you are and how to contact you to schedule your lesson.  They will contact you via email and you will also receive a confirmation 
                from us, so make sure the email you provide is valid.  Once you finish filling out the screen, click book it now and that's it!  I hope you have a wonderful learning experience!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <img src="~/assets/images/How-it-works/tutor_booking.png" width="900" />
            <br />
            <br />
        </div>
    </div>
</div>

