
@{
    ViewBag.Title = "PrivateLesson";
}

<h2>PrivateLesson</h2>

<iframe src="https://www.twiddla.com/api/start.aspx?sessionid=@ViewBag.ID&autostart=true" frameborder="1" style="min-height: 90vh; min-width: 90vw"></iframe>