<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://takehometutor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>takehometutor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TakeHomeTutor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TakeHomeTutor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TakeHomeTutor" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=TJ\SQLEXPRESS;Initial Catalog=ClassroomManagement;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TakeHomeTutor_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=TJ\SQLEXPRESS;Initial Catalog=ClassroomManagement;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlobStorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=takehometutor;AccountKey=WjdxYL6bcpMqGn33cxgtYb/TuWycQyGprEOlCzEtz9F/ksaMdHXhM0g03/uzUrE2iLC2RCw9DLRia4Otp3SG/g==;BlobEndpoint=https://takehometutor.blob.core.windows.net/;TableEndpoint=https://takehometutor.table.core.windows.net/;QueueEndpoint=https://takehometutor.queue.core.windows.net/;FileEndpoint=https://takehometutor.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlobStorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=takehometutor;AccountKey=WjdxYL6bcpMqGn33cxgtYb/TuWycQyGprEOlCzEtz9F/ksaMdHXhM0g03/uzUrE2iLC2RCw9DLRia4Otp3SG/g==;BlobEndpoint=https://takehometutor.blob.core.windows.net/;TableEndpoint=https://takehometutor.table.core.windows.net/;QueueEndpoint=https://takehometutor.queue.core.windows.net/;FileEndpoint=https://takehometutor.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TakeHomeTutor-Web.config Connection String" />
  </ItemGroup>
</Project>